	<style>
html {
  scroll-behavior: smooth;

}
.col-silver{
	color:#676767
}
.col-gold{
	color:#b8860b
}
	</style>
  <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Price &amp; Plans</span>
            <h2>Pricing</h2>
          </div>
        </div>
    		<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			   <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/hbb1.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">HATCHBACK</span>
				<br>
				<div class="pricing-text">
	         
	     		<p class="price" >INTERIOR+EXTERIOR WASH <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">370</a></b></b></p>
				<p class="price">COMPLETE SUPERIOR WASH <b >&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">350</a></b></b></p>
				<p class="price">REMOVING WATER STAIN <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">250</a></b></b></p>
				<p class="price">INTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">2000</a></b></b></p>
				<p class="price">EXTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">3300</a></b></b></p>
	            </div>

	            <a href="#section1" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			  <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/sedann.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">SEDAN</span>
	           <br>
				<div class="pricing-text">
	         
				<p class="price" >INTERIOR+EXTERIOR WASH <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">370</a></b></b></p>
				<p class="price">COMPLETE SUPERIOR WASH <b >&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">400</a></b></b></p>
				<p class="price">REMOVING WATER STAIN <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">250</a></b></b></p>
				<p class="price">INTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">2500</a></b></b></p>
				<p class="price">EXTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">3500</a></b></b></p>

	            
	            </div>
	          <a href="#section1" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			  <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/msuv.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">COMPACT SUV</span>
	             <br>
				<div class="pricing-text">
	         
	            <p class="price" >INTERIOR+EXTERIOR WASH <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">370</a></b></b></p>
				<p class="price">COMPLETE SUPERIOR WASH <b >&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">430</a></b></b></p>
				<p class="price">REMOVING WATER STAIN <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">300</a></b></b></p>
				<p class="price">INTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">3000</a></b></b></p>
				<p class="price">EXTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">3800</a></b></b></p>
	            </div>

	            <a href="#section1" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			  <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/suv.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">SUV</span>
	            <br>
				<div class="pricing-text">
	         
	           <p class="price" >INTERIOR+EXTERIOR WASH <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">370</a></b></b></p>
				<p class="price">COMPLETE SUPERIOR WASH <b >&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">350</a></b></b></p>
				<p class="price">REMOVING WATER STAIN <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  <b><a class="number" href="#section1">300</a></b></b></p>
				<p class="price">INTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup><b><a class="number" href="#section1">4000</a></b></b></p>
				<p class="price">EXTERIOR DETAILING <b >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> <b><a class="number" href="#section1">4500</a></b></b></p>

	            
	            </div>

	           <a href="#section1" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
			</div>
				<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
        	
            <h2> Monthly subscriptions</h2>
          </div>
        </div>
    		<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			   <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/hbb1.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">HATCHBACK</span>
	             <br>
				<div class="pricing-text">
	         
	            <p class="price col-silver !important" ><b >Sliver Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> </b><b><a class="number" href="#section2">750</a></b></p>
				<p>FOUR INTERIOR + EXTERIOR WASH</p>
				<p class="price col-gold !important"><b >Gold Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  </b><b><a class="number" href="#section2">950</a></b></p>
				<p>THREE INTERIOR + EXTERIOR AND ONE COMPLETE SUPERIOR WASH (Ramp Wash) </p>

	            
	            </div>

	           <a href="#section2" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			  <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/sedann.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">SEDAN</span>
	            <br>
				<div class="pricing-text">
	         
	             <p class="price col-silver !important" ><b >Sliver Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> </b><b><a class="number" href="#section2">900</a></b></p>
				<p>FOUR INTERIOR + EXTERIOR WASH</p>
				<p class="price col-gold !important"><b >Gold Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  </b><b><a class="number" href="#section2">1110</a></b></p>
				<p>THREE INTERIOR + EXTERIOR AND ONE COMPLETE SUPERIOR WASH (Ramp Wash) </p>

	            </div>

	           <a href="#section2" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			  <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/msuv.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">COMPACT SUV</span>
	             <br>
				<div class="pricing-text">
	         
	             <p class="price col-silver !important" ><b >Sliver Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> </b><b><a class="number" href="#section2">1050</a></b></p>
				<p>FOUR INTERIOR + EXTERIOR WASH</p>
				<p class="price col-gold !important"><b >Gold Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  </b><b><a class="number" href="#section2">1250</a></b></p>
				<p>THREE INTERIOR + EXTERIOR AND ONE COMPLETE SUPERIOR WASH (Ramp Wash) </p>
	            
	            </div>				
				<a href="#section2" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-md-6 col-lg-3 ftco-animate">
	          <div class="block-7">
			  <div class="icon d-flex justify-content-center align-items-left">
            		<span > <img src="static/images/suv.png" height="100px" width="150px"></img></span>
              </div>
	            <div >
            	<span class="excerpt d-block text-center">SUV</span>
	             <br>
				<div class="pricing-text">
	         
	                <p class="price col-silver !important" ><b >Sliver Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup> </b><b><a class="number" href="#section2">1200</a></b></p>
				<p>FOUR INTERIOR + EXTERIOR WASH</p>
				<p class="price col-gold !important"><b >Gold Package &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>Rs</sup>  </b><b><a class="number" href="#section2">1400</a></b></p>
				<p>THREE INTERIOR + EXTERIOR AND ONE COMPLETE SUPERIOR WASH (Ramp Wash) </p>
	            </div>

	            <a href="#section2" class="btn btn-secondary d-block px-2 py-3">Get Started</a>
	            </div>
	          </div>
	        </div>
				<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
	      </div>
    	</div>
    </section>