
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:auto;
}
.table{
    overflow-x:auto;
    text-align: justify;
}
#customers td, #customers th {
  border: 3px solid #ddd;
  padding: 2px ;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
		.user_cardd {
			width: 470px;
			margin-top: auto;
			margin-bottom: auto;
			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px,10px,10px,10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
			
		}

		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		} 
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		.messages{

			color: white;
		
		
			justify-content: center;
		}
			h6 {
          
           color: red;
		}
		.mm {
           width: 340px;

  }
  
*{
  
  font-family:Helvetica;
  margin:0;
  padding:0;  
}



#success{
  background:#03a679;
  color:#f0f0f0;  
}

#failure{
  background:#ff3939;
  color:#f0f0f0;  
}

.notify{  
  position:absolute;
  top:0px;
  width:100%;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:rgba(0,0,0,.6);
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
  
}

.active{  
  height:50px;
}




</style>

    <section class="ftco-section bg-dark">
    	<div class="container">
    		<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row no-gutters">
								<div class="col-md-7 d-flex">
									<div class="contact-wrap w-100 p-md-5 p-4">
										
										
<section >
   
  <div class="d-flex justify-content-center h-100">
		
			<div class="user_cardd">
				<div class="d-flex justify-content-center">
 <script src="static/js/sweetalert.min.js"></script>

					<h3 id="form-title">Edit User info</h3>
				</div>
				{% if msg == "exits" %}
					<script> swal("Oops !","Username or Car Alredy registered Helps check", "error"); </script>
				{% elif msg == "success"%}
					<script> swal("Done !","successfully registered", "success"); </script>
				{% elif msg == "singinternet"%}
					<script> swal("Done ! successfully registered","But unable to send mail of account details. Please Check Internet Connection", "success"); </script>
				{% endif %}
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="/updateuser">
                        {% csrf_token %}
						{% for uinfo in info%}
						<div class="input-group mb-3 mm !important">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-user fa-2x"></i></span>
							</div>
							<input  type="text" name="user_id" value="{{uinfo.user_id}}" class="form-control "readonly>
						</div>
						<div class="input-group mb-3 mm !important">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-user fa-2x"></i></span>
							</div>
							<input  type="email" name="user_name" value="{{uinfo.user_name}}" class="form-control "   required>
						</div>
						
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-car fa-lg"  aria-hidden="true"></i></span>
							</div>
							 <select name="cartype" class="form-control"  required>
								<option value="{{uinfo.cartype}}">{{uinfo.cartype}}</option>
								<option value="Hatchback">Hatchback</option>
								<option value="Sedan">Sedan</option>
								<option value="Compact SUV">Compact SUV</option>
								<option value="SUV">SUV</option>
							</select>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-car fa-lg"></i></span>
							</div>
							<input  type="text" name="regno" value="{{uinfo.regno}}" class="form-control"   required>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-phone fa-2x"></i></span>
							</div>
							<input  type="text" name="phone" value="{{uinfo.phone}}" class="form-control"   required>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-location-arrow fa-2x"></i></span>
							</div>
							<input  type="textarea " name="address" value="{{uinfo.address}}" class="form-control"   required >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
								  <input  class="btn btn-dark"  type="Submit" name="submit" value="Update"/>
				   			</div>
					</form>

				</div>
		{% endfor%}
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
					
					</div>
			
				</div>
			</div>
	
</section>




									</div>
								</div>
                                
								<div class="col-md-5 d-flex align-items-stretch">
									<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
										
							<div class="d-flex justify-content-center h-100">
		
			<div class="user_cardd">
				<div class="d-flex justify-content-center">
 <script src="static/js/sweetalert.min.js"></script>

					<h3 id="form-title">Change Password</h3>
				</div>
				{% if msg == "notsame" %}
					<script> swal("Oops !","Old password did not match", "error"); </script>
				{%elif msg == "sameasold"%}
					<script> swal("Oops !","New password sholud not be exactly as old password", "warning"); </script>
				{% endif %}
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="/updatepass">
                        {% csrf_token %}
						<div class="input-group mb-3  mm !important">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-lock fa-lg"></i></span>
							</div>
								<input  type="password" name="oldpassword" id="oldpassword" placeholder="Old Password" class="form-control "  >
						</div>
						<div class="input-group mb-3  mm !important">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-lock fa-lg" ></i></span>
							</div>
								<input  type="password" name="password" id="password" placeholder="New Password" class="form-control " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" oninput="this.setCustomValidity('')">
						</div>
							<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-lock fa-lg"></i></span>
							</div>
								<input type="password" name="confirm_password" id="confirm_password" placeholder="Confrim-Password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  oninput="this.setCustomValidity('')">
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
								  <input  class="btn btn-dark"  type="Submit" name="submit" value="Update"/>
				   			</div>
					</form>

				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
					
					</div>
			
				</div>
			</div>
						
							</div>
						</div>
					</div>
					<div class="col-md-12">
					 	
				</div>
    	</div>
    </section>
	
      <script>
   var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;


$("#submit").click(function () {
  $(".notify").toggleClass("active");
  $("#notifyType").toggleClass("success");
  
  setTimeout(function(){
    $(".notify").removeClass("active");
    $("#notifyType").removeClass("success");
  },2000);
});



</script>