<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Projects</span>
            <h2>Projects Done</h2>
          </div>
        </div>
			</div>
			<div class="container-fluid px-md-0">
				<div class="row no-gutters">
          <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p1.jpeg);">
            	<a href="static/images/p1.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>Car wash</span>
	              	<h2><a href="#">INTERIOR WASHING</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p2.jpeg);">
            	<a href="static/images/p2.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>Car wash</span>
	              	<h2><a href="#">EXTERIOR WASHING</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p3.jpeg);">
            	<a href="static/images/p3.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>Car Wash</span>
	              	<h2><a href="#">COMPLETE SUPERIOR WASHING</a></h2>
	              </div>
              </div>
            </div>
          </div>

		  <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p4.jpeg);">
            	<a href="static/images/p4.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>Bike Wash</span>
	              	<h2><a href="#">COMPLETE BIKE WASHING</a></h2>
	              </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p5.jpeg);">
            	<a href="static/images/p5.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>DETAILING</span>
	              	<h2><a href="#">INTERIOR DETAILING</a></h2>
	              </div>
              </div>
            </div>
          </div>
		         <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p6.jpeg);">
            	<a href="static/images/p6.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>DETAILING</span>
	              	<h2><a href="#">EXTERIOR DETAILING</a></h2>
	              </div>
              </div>
            </div>
          </div>
		           <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p7.jpeg);">
            	<a href="static/images/p7.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>DETAILING</span>
	              	<h2><a href="#">VINYL FLOORING</a></h2>
	              </div>
              </div>
            </div>
          </div>
		           <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-end" style="background-image: url(static/images/p9.jpeg);">
            	<a href="static/images/p9.jpeg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4">
	              <div class="text w-100 mb-3">
	              	<span>DETAILING</span>
	              	<h2><a href="#">SEAT COVER</a></h2>
	              </div>
              </div>
            </div>
          </div>
        </div>
	</div>
		</section>	<br><br>