 <style>
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}
#more6 {display: none;}
</style>
<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Services We offer </span>
            <h2>Our car services</h2>
          </div>
        </div>
    		<div class="row">
          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">   
              <div class="icon d-flex justify-content-center align-items-center" >
            		<span > <img src="static/images/int.png" height="70px" width="65px"></img></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">INTERIOR WASH</h3>
              <br>
              <b>  <p> Complete interior cleaning, vacuuming of Interior, Dashboard dusting, Cleaning of Fabric/Leather seats, Cleaning of Foot mats, Cleaning Hinges and Side Doors.</p>
</b>
              
          
            </div>
          </div>
          </div>



          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span > <img src="static/images/ext.png" height="66px" width="63px"></img></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">EXTERIOR WASH </h3><br>
               
                <p><b>Complete Foam wash, Pressurized water wash of exterior body, Tyre Cleaning, Tyre Polishing, Rim Shine.</b></p>
             
             
            </div> 
            </div> 
          </div>

          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            			<span > <img src="static/images/ramp.png" height="66px" width="60px"></img></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">COMPLETE SUPERIOR WASH(Ramp wash)</h3>
                 
                <p><b>Complete Foam and Pressurized water wash, under body Ramp wash, Tyre Cleaning and Polishing,<span id="dots4"></span><span id="more4">  Rim Shine, Complete interior cleaning and vacuuming, Dashboard dusting, Cleaning of Fabric/Leather seats, Foot mats, Hinges and Side Doors, Tyre Arches and Engine bay.
        </b> </span></p>
               <a onclick="myFunction4()" id="myBtn4" type="button" class="collapsible">Read more</a>
              </div>
            </div>          
        </div>
    	


<div class="row">
          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">   
              <div class="icon d-flex justify-content-center align-items-center" >
            		<span > <img src="static/images/waterspot.png" height="65px" width="60px"></img></span>
              </div>
              <div class="media-body pl-3">	
                <h3 class="heading">REMOVING HARD WATER STAINS</h3>
               <p><b> <p> Removing hard water spots from your vehicle body and glass surface. </p>
				<p>	This is because when the water from a sprinkler system or rain in the city falls on your vehicle, the water contains contaminants.</p><span id="dots3"></span><span id="more3"> 
				<p>As the water on the surface evaporates away, the contaminants adhere themselves to the paint or windows. Once this occurs, they become extremely difficult to remove. Our Acid Rain and Hard Water Stain Removal service is designed to solve this problem.</p></b></span></p>
         <a onclick="myFunction3()" id="myBtn3" type="button" class="collapsible">Read more</a>
        </div>
        </div>      
          </div>



          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span > <img src="static/images/inpol.png" height="66px" width="63px"></img></span>
              </div>
              <div class="media-body pl-3">
                <h3 class="heading">INTERIOR CAR DETAILING</h3>
				<h3 class="heading">(Foam treatment, Leather Trimming and Brushing)</h3>
           
               <p> <p class="jj"><b>Complete interior vacuum which Includes floors, seats, trunk, and all cracks / crevices.</p>
<p>Shampooing of carpet, seats, and floor mats, Headliner cleaned of spots, splashes, and stains</p><span id="dots2"></span><span id="more2">
<p>All interior plastic / vinyl, Leather seats cleaned and dressed</p>
<p>Door jambs, All interior windows cleaned and streak-free</p>
<p>Interior air freshener added (upon request).</p></b></span></p>
      <a onclick="myFunction2()" id="myBtn2" type="button" class="collapsible">Read more</a>
          </div>
          </div>          
          </div>

          <div class="col-md-4 services ftco-animate">
            <div class="d-block d-flex">
              <div class="icon d-flex justify-content-center align-items-center">
            			<span > <img src="static/images/pol.png" height="66px" width="60px"></img></span>
              </div>
              <div class="media-body pl-3">
                 <h3 class="heading">EXTERIOR CAR DETAILING</h3>
				<h3 class="heading">(Rub, polish and waxing)</h3>                    
                <p> <b>Car Washing: The exterior car detailing process begins with an intensive washing using car shampoo.</P>
<p>Surface Claying:After the washing, the paintwork is then clayed using the clay bar. It removes any of the dirt that didn’t get off with wash.</p><span id="dots1"></span><span id="more1">
<p>Rubbing & Polishing: After cleaning the car in every manner the process of car polishing is performed. The original polish on the paint surface is removed and a new protective wax coat is applied either manually or using machines.</P>
<p>Paint Sealing: Paint sealing is done to protect the car using purpose-made car sealant or car wax. This is done to restore the brand new showroom shine of the car that it might’ve lost over the years.</P>
<p>Headlights & Taillights and misc:The headlights, as well as the taillights, are cleaned for better illumination.</P></b></span></p>
          
              <a onclick="myFunction1()" id="myBtn1" type="button" class="collapsible">Read more</a>
            </div>
          </div>
          </div>
        </div>


		
    </section>
<script>
function myFunction1() {
  var dots = document.getElementById("dots1");
  var moreText = document.getElementById("more1");
  var btnText = document.getElementById("myBtn1");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

function myFunction2() {
  var dots = document.getElementById("dots2");
  var moreText = document.getElementById("more2");
  var btnText = document.getElementById("myBtn2");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

function myFunction3() {
  var dots = document.getElementById("dots3");
  var moreText = document.getElementById("more3");
  var btnText = document.getElementById("myBtn3");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

function myFunction4() {
  var dots = document.getElementById("dots4");
  var moreText = document.getElementById("more4");
  var btnText = document.getElementById("myBtn4");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

function myFunction5() {
  var dots = document.getElementById("dots2");
  var moreText = document.getElementById("more2");
  var btnText = document.getElementById("myBtn2");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>

