<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
.table{
    overflow-x:auto;
    text-align: justify;
}
#customers td, #customers th {
  border: 2px solid #ddd;
  padding: 2px;
}


#customers tr:nth-child(even){background-color: ;}

#customers tr:hover {background-color: #ddd;}   

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<span id="dots3"></span><span id="more3">
<section class="ftco-section">
    	
    		<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<h2>Monthly subscriptions</h2>
            <span class="subheading">Total subscriptions: {{tcount}}</span>
          </div>
        </div>
        <center>
<table id="customers">
  <tr>
    <th>Service</th>
    <th>Name</th>
    <th>Register No</th>
    <th>Date</th>
    <th>Time</th>
    <th>Car type</th>
    <th>Phone NO</th>
    <th>Address</th>
    <th>Instructions</th>
  </tr>
  {%for pack in package%}
  <tr>
    <td><b>{{pack.service}}<b></td>
    <td><b>{{pack.name}}<b></td>
    <td><b>{{pack.regno}}<b></td>
    <td><b>{{pack.date}}<b></b></td>
    <td><b>{{pack.time}}<b></b></td>
    <td><b>{{pack.cartype}}<b></td>
    <td><b>{{pack.phone}}<b></td>
    <td><b>{{pack.address}}<b></td>
    <td><b>{{pack.msg}}<b></td>
      
  </tr>
  {%endfor%}

</table>
      </center>
</section>
</body>
</html>