		<div class="wrap">
	    <div class="container">
				<div class="row justify-content-between">
				  
					<div class="col-md-3 d-flex align-items-center">
						<a class="navbar-brand" href="index"><img src="static/images/logo.png" width="170" height="70"><br><span>Care wash service</span></br></a>
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col">
								<div class="top-wrap d-flex">
									<div class="icon d-flex align-items-center justify-content-center"><span ><img src="static/images/add.png" height="25px" width="22px"></img></span></div>
									<div class="text"><span>Address</span><span>Ujjodi, Pumpwell, Kankanady, Mangaluru<br><b>Landmark: </b>Northern sky city</i> </span></div>
								</div>
							</div>
							<div class="col">
								<div class="top-wrap d-flex">
									<div class="icon d-flex align-items-center justify-content-center"><span><img src="static/images/phone.png" height="30px" width="25px"></img></span></div>
									<div class="text"><span>Call us</span><span><a>(+91)7406591676<br>(+91)9636769606</a></span></div>
								</div>
							</div>
							<div class="col-md-3 d-flex justify-content-end align-items-center">
								<div class="social-media">
					    		<p class="mb-0 d-flex">
					    			<a href="comingsoon" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
					    			<a href="comingsoon" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
					    			<a href="https://www.instagram.com/carpool_mangalore/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
					    			
					    		</p><br>
								<a href="/logout" class="nav-link"> <div class="icon d-flex align-items-center justify-content-center"><span ><img src="static/images/lo.png" height="25px" width="22px"></img></li></span></div></a> 
								
                              
            
         
								</div>
									
								
							</div>
								
							</div>
							
				        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>